extends layout

block mainContent
	h2 Furnishing EPCIS #{epcisname}
	
	p
		a(href='/index', class="button small pink") &laquo;  Back to index
	
	if error
		p.error Something went terribly bad: #{error}
		
	each epcisfurnisher in epcisfurnishers
		li.listRow= epcisfurnisher + ' '
			a(href='/unfurnepcis/#{epcisname}/user/#{epcisfurnisher}', onclick='return confirm(\'Are you sure that you let this user unfurnish this epcis?\');', class='button small  delete') unfurnish 
	
	form(method='post')
		div(class='listRow')
			label Add #{epcisname} EPCIS furnisher:
				select(name='epcisfurnishername', required)
					option(value='')
					if(others)
						for other in others
							option(value='#{other}') #{other}
		div.formFooter
			input(type='submit', value='Add')
	p
	each epcisfurnishergroup in epcisfurnishergroups
		li.listRow= epcisfurnishergroup + ' '
			a(href='/unfurnepcis/#{epcisname}/group/#{epcisfurnishergroup}', onclick='return confirm(\'Are you sure that you let this group unfurnish this epcis?\');', class='button small  delete') unfurnish
	
	form(method='post')
		div(class='listRow')
			label Add #{epcisname} EPCIS furnisher group:
				select(name='epcisfurnishergroupname', required)
					option(value='')
					if(othersgroup)
						for othergroup in othersgroup
							if(othergroup != (user.email +':public'))
								option(value='#{othergroup}') #{othergroup}
		div.formFooter
			input(type='submit', value='Add')
