extends layout

block mainContent
	if error
		p.error Something went terribly bad: #{error}
	else
		p
			a(href='/', class="button small pink") &laquo;  Back to main
		h2 Your EPCISs, Things and Groups
		
		p Showing EPCISs in your account.
	
		p
			a(href='/addepcis', class='button small green') + add new own epcis
	
		each epcis in epciss
			li.listRow= epcis + ' '
				a(href='/delepcis/#{epcis}', onclick='return confirm(\'Are you sure that you want to delete this epcis?\');', class='button small  delete') delete
				|	
				a(href='/qryepcis/#{epcis}', class='button small  edit') query	
				|	
				a(href='/epcis/#{epcis}', class='button small  edit') capture
				|	
				a(href='/subscribeepcis/#{epcis}', class='button small edit') + subscribers
				|	
				a(href='/furnishepcis/#{epcis}', class='button small edit') + furnishers

		p Showing furnishing EPCISs in your account.

		each epcisfurn in epcisfurns
			li.listRow= epcisfurn + ' '
				a(href='/unfurnepcis/epcis/#{epcisfurn}/user/#{user.email}', onclick='return confirm(\'Are you sure that you want to unfurnish this epcis?\');', class='button small  delete') unfurnish 
				|	
				a(href='/epcis/#{epcisfurn}', class='button small  edit') caputure	

		p Showing subscribing EPCISs in your account.

		each epcissubs in epcissubss
			li.listRow= epcissubs + ' '
				a(href='/unsubsepcis/epcis/#{epcissubs}/user/#{user.email}', onclick='return confirm(\'Are you sure that you want to unsubscribe this epcis?\');', class='button small  delete') unsubscribe 
				|	
				a(href='/qryepcis/#{epcissubs}', class='button small  edit') query	
				
		p Showing things in your account. 
	
		p
			a(href='/addthing', class='button small green') + add new thing
	
		each thing in things
			li.listRow= thing + ' '
				a(href='/delthing/#{thing}', onclick='return confirm(\'Are you sure that you want to delete this thing?\');', class='button small  delete') delete
				|	
				a(href='/thing/#{thing}', class='button small  edit') edit		
		
		p Showing groups in your account.  
		
		p
			a(href='/addgroup', class='button small green') + add new group
			
		each group in groups
			li.listRow= group + ' '
				if (group != (user.email +':public'))
					a(href='/delgroup/#{group}/', onclick='return confirm(\'Are you sure that you want to delete this thing?\');', class='button small  delete') delete
					|	
					a(href='/group/#{group}', class='button small  edit') edit			
		
